*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: $font-family;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $color-black;
  margin: 0;
}

h1,
h2 {
  @include gradient-text;
}

h1 {
  font-size: clamp(3.6rem, 6vmin, 5.6vh);
  font-weight: 800;
  line-height: 1.3;
}

h2 {
  font-size: clamp(2.4rem, 3.6vmin, 6.6vh);
  margin-bottom: 0.4em;
}

h3 {
  font-size: $font-size-md;
  margin-bottom: 0.4em;
}

p {
  color: $color-gamma;
  font-size: clamp(1.6rem, 2rem, 2vw);
  line-height: 1.4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.fab {
  margin-right: 0.8em;
}

.base {
  background: $gradient-bg;
  display: grid;
  // grid-template-rows: repeat(8, auto);
  grid-template-columns:
    [full-width-start] minmax(5.2rem, 1fr) [main-width-start] repeat(
      8,
      [columns-start] minmax(min-content, 16rem) [columns-end]
    )
    [main-width-end] minmax(5.2rem, 1fr) [full-width-end];

  > * {
    padding-block: 4rem;
    scroll-margin-top: 16rem;
    // outline: 1px dashed hsl(210, 38%, 30%);
  }
}
