*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-black);
  margin: 0;
}

h1,
h2,
h3 {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}

p {
  color: var(--color-gamma);
  font-size: var(--font-size-sm);
}

.base {
  background: var(--gradient-bg);
  display: grid;
  grid-template-rows: auto 50vh repeat(7, auto);
  grid-template-columns:
    [full-width-start] minmax(5.2rem, 1fr) [main-width-start] repeat(
      8,
      [columns-start] minmax(min-content, 16rem) [columns-end]
    )
    [main-width-end] minmax(5.2rem, 1fr) [full-width-end];

  > * {
    padding-block: 4rem;
  }
}
