.layout {
  display: grid;
  grid-template-rows: auto 68vh repeat(7, auto);
  grid-template-columns:
    [full-width-start] minmax(5.2rem, 1fr) [main-width-start] repeat(
      8,
      [columns-start] minmax(min-content, 16rem) [columns-end]
    )
    [main-width-end] minmax(5.2rem, 1fr) [full-width-end];
  > * {
    color: var(--color-white);
    padding: 3.2rem;
    background-color: rgb(48, 108, 187);
  }
}
