@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.title {
  &__primary,
  &__secondary {
    color: var(--color-white);
  }

  &__primary {
    font-size: calc(1rem + 5vmin);
    padding: 0.4em 0.8em;
  }

  &__secondary {
    font-size: calc(1rem + 2vmin);
  }
}
