.navigation {
  grid-column: main-width-start / main-width-end;
  background: transparent;

  &__group {
    @include flex(center, space-between, row, wrap);
  }
}

.list {
  list-style: none;
  column-gap: 3.2em;

  &--pages {
    @include flex(center, flex-start, row, wrap);
    flex: 1 1 65%;
  }

  &--sign {
    @include flex(center, flex-end, row, wrap);
    flex: 1 1 35%;
  }

  &__item {
    font-size: 2rem;
  }

  &__link {
    color: $color-white;
    text-decoration: none;

    &--logo {
      font-weight: 800;
      font-size: 2.4rem;
    }
  }
}
