.navigation {
  grid-column: full-width-start / full-width-end;
  background: $gradient-nav;
  box-shadow: 0 0.8rem 8rem rgba($color-beta, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  padding: 3.2rem 5.2rem;
  // height: 14vh;

  // display: none;

  &__group {
    @include flex(center, space-between, row, wrap);
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
    // justify-items: center;
    // width: min(100%, max(100%, 350px));
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
  }
}

.list {
  column-gap: 3.2em;

  &--pages {
    @include flex(center, flex-start, row, wrap);
    flex: 1 1 65%;
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(min(100%, 14rem), 1fr));
  }

  &--sign {
    @include flex(center, flex-end, row, wrap);
    flex: 1 1 35%;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(min(100%, 12rem), 1fr));
  }

  &__item {
    font-size: 2rem;
    // position: relative;
    // padding: 0.4em;
    // outline: 1px solid $color-beta;
    // width: fit-content;
  }

  &__link {
    color: $color-white;
    text-decoration: none;
    position: relative;
    padding: 0.8em 0;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      height: 3px;
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 250ms ease-in;
    }

    &:hover::before {
      transform: scaleX(1);
    }

    &--logo {
      font-weight: 800;
      font-size: 2.4rem;
      transition: color 250ms;

      &::before {
        display: none;
      }

      &:hover {
        color: $color-danger;
      }
    }
  }
}
