.navigation {
  grid-column: main-width-start / main-width-end;
  background: transparent;

  &__group {
    @include flex(center, space-between, row, wrap);
  }
}

.list {
  @include flex(center, space-between, row, wrap);
  list-style: none;
  column-gap: 3.2em;

  &--sign {
    justify-content: end;
  }

  &__item {
    font-size: 2rem;
  }

  &__link {
    color: var(--color-white);
    text-decoration: none;

    &--logo {
      font-weight: 800;
      font-size: 2.4rem;
    }
  }
}
