.cta {
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.4);
  @include border-radius;
  background: $color-alpha;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: $font-size-m;
  font-weight: 300;
  padding: 0.4em 1.2em;
  min-width: fit-content;
  transition: all 0.2s;

  &:hover {
    background: lighten($color-alpha, 2%);
  }

  &:active {
    @include box-shadow;
  }

  &__cancel {
    border-radius: 0;
    background: transparent;
    color: $color-gamma;
    box-shadow: none;
    padding: 0 2rem;
    position: relative;

    &:hover {
      background: none;
    }

    &::after {
      content: "";
      background: $color-gamma;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0.4rem;
      width: 100%;
      transform: scaleX(0);
      transform-origin: bottom left;
      transition: all 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  &__submit {
    margin-top: 3.2rem;
  }

  &--success {
    background: $color-success;
    color: $color-alpha;
    &:hover {
      background: lighten($color-success, 5%);
    }
  }

  &--danger {
    background: $color-danger;
    color: $color-alpha;
    &:hover {
      background: lighten($color-danger, 5%);
    }
  }
}
