.form {
  width: 100%;

  &__group {
    @include flex(inherit, row, inherit);
    width: 100%;

    &--buttons {
      text-align: right;
    }
  }

  &__fieldset {
    background: $color-success;
    color: $color-white;
    padding: 1.2rem 2.8rem 3.6rem 2.8rem;
    width: inherit;
  }

  &__label {
    display: block;
  }

  &__input {
    padding: 0.4rem 2rem;
    background: $color-alpha;
    font-family: inherit;
    font-size: 2rem;
    width: inherit;

    &--description {
      height: 4.6rem;
      min-height: 4.6rem;
      resize: vertical;
    }
  }
}

.filter {
  background: $color-gamma;
  color: $color-alpha;
  font-family: inherit;
  font-size: $font-size-l;
  font-weight: 200;
  margin-bottom: 2.4rem;
  padding: 2.4rem 3.6rem 3.2rem;

  &__control {
    @include flex(center, row, space-between);
    margin-bottom: 2.4rem;
  }

  &__select {
    appearance: none;
    padding: 0.4rem 2.8rem 0.4rem 2rem;
    background: $color-alpha;
    font-family: inherit;
    font-size: 2rem;
    min-width: 16rem;
  }

  &__indicator {
    position: relative;

    &::after {
      content: "\25BE";
      color: $color-gamma;
      pointer-events: none;
      position: absolute;
      top: 0.8rem;
      right: 2rem;
      font-size: 2.8rem;
    }
  }
}
