.header {
  grid-column: main-width-start / main-width-end;
  @include flex(stretch, stretch, row, nowrap);
  column-gap: 5.2rem;
  padding-block: 20rem 1.6rem;

  &__blurb {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
  }

  &__blurb-image {
    max-width: 40%;
  }

  &__illustration {
    flex: 1 1 40%;
  }

  &__image {
    width: 100%;
    opacity: 0.9;
    aspect-ratio: 1 / 1;
  }
}
