.header {
  grid-column: main-width-start / main-width-end;
  column-gap: 5.2rem;
  padding-block: 20rem 1.6rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  justify-items: center;

  // &__blurb {
  //   flex: 1 1 auto;
  //   display: flex;
  //   flex-direction: column;
  //   row-gap: 3.2rem;
  // }

  // &__blurb-image {
  //   max-width: 40%;
  // }

  // &__illustration {
  //   flex: 1 1 auto;
  // }

  // &__image {
  //   opacity: 0.9;
  //   aspect-ratio: 1 / 1;
  // }

  &__blurb {
    row-gap: 3.2rem;
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
  }

  &__blurb-image {
    max-width: 40%;
  }

  &__illustration {
    transform: translateY(6rem);
    max-width: 80%;
  }

  &__image {
    opacity: 0.9;
    aspect-ratio: 1 / 1;
  }
}
