//colors
$color-white: #fff;
$color-black: #21252f;
$color-dark: #262b37;
$color-alpha: #fff7f0;
$color-beta: #f9eddb;
$color-gamma: #6e3a84;
$color-default: #3a5483;
$color-success: #3a8340;
$color-warning: #e46e1f;
$color-danger: #c92c68;

// fonts
$font-size-xs: 1.2rem;
$font-size-s: 1.6rem;
$font-size-m: 2.4rem;
$font-size-l: 3.2rem;
$font-size-xl: 4.4rem;
