.partnership {
  grid-column: main-width-start / main-width-end;

  &__list {
    @include flex(center, center, row, wrap);
    column-gap: 3.2rem;
    padding: 6rem 0 8rem;
  }

  &__list-item {
    transition: all 250ms;
    &:hover {
      filter: brightness(145%);
    }
  }

  &__list-image {
    width: 100%;
    max-width: 12rem;
  }
}
