$font-family: 'Manrope', sans-serif;

$font-size-xl: 5.2rem;
$font-size-lg: 4.6rem;
$font-size-md: 3.2rem;
$font-size-sm: 2rem;
$font-size-xs: 1.2rem;

$color-black: #040c18;
$color-alpha: #052a52;
$color-beta: #042c54;
$color-gamma: #81afdd;
$color-delta: #ff8a71;
$color-epsilon: #ae67fa;
$color-zeta: #2a653e;
$color-danger: #ff4820;
$color-white: #fff;

// $gradient-bg: radial-gradient(circle at 5% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
$gradient-bg: radial-gradient(circle at 35% 10%, $color-alpha 0%, $color-black 90%);
$gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
$gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
