$font-family: 'Manrope', sans-serif;

$font-size-xl: 5.2rem;
$font-size-lg: 4.6rem;
$font-size-md: 3.2rem;
$font-size-sm: 2rem;
$font-size-xs: 1.2rem;

$color-black: #040c18;
$color-alpha: #052a52;
$color-beta: #042c54;
$color-gamma: #81afdd;
$color-delta: #ff8a71;
$color-epsilon: #ae67fa;
$color-zeta: #2a653e;
$color-danger: #ff4820;
$color-white: #fff;

$gradient-bg: radial-gradient(circle at 0% 35%, $color-alpha 0%, $color-black 80%);
$gradient-feature: radial-gradient(
  circle at 40% -150%,
  #042c54 30%,
  rgba(4, 44, 84, 1) 85%,
  rgba(27, 120, 222, 0.9) 105%
);
$gradient-bar: linear-gradient(103.22deg, $color-epsilon 5%, $color-delta 95%);
$gradient-text: linear-gradient(89.97deg, $color-epsilon 15%, $color-delta 85%);
