:root {
  --font-family: "Manrope", sans-serif;
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
  --color-black: #040c18;
  --color-alpha: #031b34;
  --color-beta: #042c54;
  --color-gamma: #81afdd;
  --color-delta: #ff8a71;
  --color-epsilon: #ae67fa;
  --color-zeta: #2a653e;
  --color-white: #fff;
  --font-size-xl: 4.4rem;
  --font-size-lg: 3.2rem;
  --font-size-md: 2.4rem;
  --font-size-sm: 1.6rem;
  --font-size-xs: 1.2rem;
}

/*======================
as media-quires are not based on root element, but on browsers' default 16px unit, we need to convert everything to ems (not rems!) in media queries, as rems will not work! Therefore, to get ems as relative units, we devide desired breakpoints in px by 16.
======================*/
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-black);
  margin: 0;
}

.base {
  display: grid;
  grid-template-rows: auto 68vh repeat(7, auto);
  grid-template-columns: [full-width-start] minmax(5.2rem, 1fr) [main-width-start] repeat(8, [columns-start] minmax(min-content, 16rem) [columns-end]) [main-width-end] minmax(5.2rem, 1fr) [full-width-end];
}
.base > * {
  color: var(--color-white);
  padding: 3.2rem;
  background-color: rgb(48, 108, 187);
}

.navigation__main {
  grid-column: full-width-start/full-width-end;
}

.header {
  grid-column: main-width-start/main-width-end;
  background-color: var(--color-epsilon);
}

.partnership {
  grid-column: 3/9;
  background-color: var(--color-zeta);
}

.info {
  grid-column: main-width-start/main-width-end;
  background-color: var(--color-gamma);
}

.future {
  grid-column: main-width-start/main-width-end;
  background-color: var(--color-zeta);
}

.access {
  grid-column: main-width-start/main-width-end;
  background-color: var(--color-delta);
}

.cta {
  grid-column: main-width-start/main-width-end;
  background-color: var(--color-epsilon);
}

.blog {
  grid-column: main-width-start/main-width-end;
  background-color: var(--color-delta);
}

.footer__main {
  grid-column: full-width-start/full-width-end;
  background-color: var(--color-beta);
}

.copyright {
  grid-column: full-width-start/full-width-end;
}