:root {
  --font-family: "Manrope", sans-serif;
  --gradient-bg: radial-gradient(circle at 5% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --color-black: #040c18;
  --color-alpha: #031b34;
  --color-beta: #042c54;
  --color-gamma: #81afdd;
  --color-delta: #ff8a71;
  --color-epsilon: #ae67fa;
  --color-zeta: #2a653e;
  --color-danger: #ff4820;
  --color-white: #fff;
  --font-size-xl: 5.2rem;
  --font-size-lg: 4.6rem;
  --font-size-md: 3.2rem;
  --font-size-sm: 2rem;
  --font-size-xs: 1.2rem;
}

/*======================
as media-quires are not based on root element, but on browsers' default 16px unit, we need to convert everything to ems (not rems!) in media queries, as rems will not work! Therefore, to get ems as relative units, we devide desired breakpoints in px by 16.
======================*/
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-black);
  margin: 0;
}

h1,
h2,
h3 {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}

p {
  color: var(--color-gamma);
  font-size: var(--font-size-sm);
}

.base {
  background: var(--gradient-bg);
  display: grid;
  grid-template-rows: auto 50vh repeat(7, auto);
  grid-template-columns: [full-width-start] minmax(5.2rem, 1fr) [main-width-start] repeat(8, [columns-start] minmax(min-content, 16rem) [columns-end]) [main-width-end] minmax(5.2rem, 1fr) [full-width-end];
}
.base > * {
  padding-block: 4rem;
}

.button {
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.4);
  background-color: var(--color-danger);
  border: none;
  color: var(--color-white);
  font-family: inherit;
  font-size: var(--font-size-sm);
  font-weight: 300;
  padding: 0.8em 1.6em;
  position: relative;
  min-width: fit-content;
  transition: all 250ms;
  cursor: pointer;
}
.button:hover {
  filter: saturate(1.2);
}
.button:active {
  box-shadow: 0 0.2rem 0.4rem rgba(var(--color-black), 0.2);
}
.button__in {
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  position: relative;
}
.button__in:hover {
  background: none;
}
.button__in:active {
  box-shadow: none;
}
.button__in::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  height: 3px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 250ms ease-in;
}
.button__in:hover::before {
  transform: scaleX(1);
}

.navigation {
  grid-column: main-width-start/main-width-end;
  background: transparent;
}
.navigation__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.list {
  list-style: none;
  column-gap: 3.2em;
}
.list--pages {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 65%;
}
.list--sign {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 35%;
}
.list__item {
  font-size: 2rem;
}
.list__link {
  color: var(--color-white);
  text-decoration: none;
}
.list__link--logo {
  font-weight: 800;
  font-size: 2.4rem;
}

.header {
  grid-column: main-width-start/main-width-end;
}

.partnership {
  grid-column: main-width-start/main-width-end;
  text-align: center;
}

.info {
  grid-column: main-width-start/main-width-end;
  background-color: var(--color-beta);
  padding-inline: 5.2rem;
}

.future {
  grid-column: main-width-start/main-width-end;
}

.access {
  grid-column: main-width-start/main-width-end;
}

.cta {
  grid-column: main-width-start/main-width-end;
}

.blog {
  grid-column: main-width-start/main-width-end;
}

.footer__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  grid-column: main-width-start/main-width-end;
  background-color: var(--color-black);
  box-shadow: 0 0 0 100vmax var(--color-black);
  clip-path: inset(0 -100vmax);
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column: full-width-start/full-width-end;
  background-color: var(--color-black);
  color: var(--color-gamma);
  font-size: var(--font-size-xs);
  padding-block: 2rem;
}