.copyright {
  @include flex(center, center, row, nowrap);
  grid-column: full-width-start / full-width-end;
  background-color: $color-black;
  color: $color-gamma;
  font-size: $font-size-xs;
  padding-block: 2rem;
}
